.dp {
	background-repeat : no-repeat;
	background-size: 100% 100%;
}
.dpleft {
	background-image: url("arrow-left.svg");
}
.dpright {
	background-image: url("arrow-right.svg");
}
.dpup {
	background-image: url("arrow-up.svg");
}
.dpdown {
	background-image: url("arrow-down.svg");
}

/*.dpa, .dpb, .dpx, .dpy {

}*/

.dpleftArea {
    position:absolute;
    bottom : 10px;
    left : 10px;
    /*background-color : green;*/
    /*opacity : 0.3;*/
}
.dprightArea {
    position:absolute;
    bottom : 10px;
    right : 10px;
    /*background-color : green;*/
    /*opacity : 0.3;*/
}